<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtrar Planilha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container mt-5 d-flex justify-content-center">
        <div class="card p-4 shadow-lg">
            <h1 class="text-center mb-4">Filtrar Planilha com Resultados "yes" de Proxy e VPN</h1>
            <form action="/filtro" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="file" class="form-label">Escolha a planilha de resultados:</label>
                    <input type="file" name="file" class="form-control" required><br><br>
                </div>
                <div class="d-flex justify-content-between">
                    <input type="submit" value="Filtrar" class="btn btn-primary" />
                    <a href="/" class="btn btn-secondary">Voltar</a> <!-- Botão de voltar -->
                </div>
            </form>
        </div>
    </div>
</body>
</html>
