<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtrar Planilha</title>
</head>
<body>
    <h1>Filtrar Planilha com Resultados "yes" de Proxy e VPN</h1>
    <form action="/filtro" method="post" enctype="multipart/form-data">
        <label for="file">Escolha a planilha de resultados:</label>
        <input type="file" name="file" required><br><br>

        <input type="submit" value="Filtrar">
    </form>
</body>
</html>
